<footer class="footer" role="contentinfo">
    <div class="footer-topper-decoration"></div>
    <nav>
      <div>
        <a href="/digital-postcard"><span>Digital Postcard</span></a>
      </div>
      <div>
        <a href="/testimonials"><span>Testimonials</span></a>
      </div>
      <div>
        <a href="/participate/eligibility"><span>Requirements & Eligibility</span></a>
      </div>
      <div>
        <a href="/participate/other-programs"><span>Other Benefits</span></a>
      </div>
      <div>
        <a href="/broker"><span>Our Broker</span></a>
      </div>
    </nav>

    <div id="contact-info">
      <span class="site-address">PNCE Health and Welfare Trust, Oregon & Washington</span>
      <span rel="tel" class="site-phone">503-223-2926</span>
      <a href="mailto:administrator@engtrust.com" class="site-email"><span>administrator@engtrust.com</span></a>
      <p class="contact-owner">
        Christine Boirum - Trust Administrator
      </p>
    </div>


  </footer>
  <nav id="accessibility">
    <div class="back-to-top"><a href="#header">Back to Top</a></div>
  </nav>