<header id="header">
    <a href="#" class="body-overlay"></a>
    <div id="logoWrapper" class="wrapper">
      <h1 id="logoImage">
        <a href="/"><img src="/assets/site/PNCELogo193x100.png" alt="PNCE Health and Welfare Trust logo" /></a>
      </h1>
    </div>
    <nav class="main-nav" id="main-nav">
      <div class="nav homepage">
        <a href="/">Home</a>
      </div>
      <div class="nav">
        <a href="/about">About</a>
      </div>
      <div class="nav folder">
        <div class="folder-toggle">Benefits</div>
        <div class="subnav">
          <div class="nav">
            <a href="/benefits/at-a-glance">At A Glance</a>
          </div>
          <div class="nav">
            <a href="/benefits/medical">Medical</a>
          </div>
          <div class="nav">
            <a href="/benefits/even-more">Dental, Life & More</a>
          </div>
        </div>
      </div>
      <div class="nav">
        <a class="nav-highlight" href="/join">Join</a>
      </div>
    </nav>
    <div><a href="#" class="mobile-menu" onclick="toggleBlock(document.getElementById('main-nav'));return false">MENU</a></div>
  </header>