<header id="header">
    <a href="#" class="body-overlay"></a>
    <div id="logoWrapper" class="wrapper">
      <h1 id="logoImage">
        <a href="/index.html"><img src="/assets/site/PNCE5d45.png" alt="PNCE Health and Welfare Trust logo" /></a>
      </h1>
    </div>
    <nav class="main-nav" id="main-nav">
      <div class="nav homepage">
        <a href="/index.html">Home</a>
      </div>
      <div class="nav">
        <a href="/about.html">About</a>
      </div>
      <div class="nav folder">
        <div class="folder-toggle">Benefits</div>
        <div class="subnav">
          <div class="nav">
            <a href="/benefits/at-a-glance.html">At A Glance</a>
          </div>
          <div class="nav">
            <a href="/benefits/medical.html">Medical</a>
          </div>
          <div class="nav">
            <a href="/benefits/even-more.html">Dental, Life & More</a>
          </div>
        </div>
      </div>
      <div class="nav external">
        <a href="https://pncehwt.maxcheckout.com/">Pay Online</a>
      </div>
      <div class="nav">
        <a class="nav-highlight" href="/join.html">Join</a>
      </div>
    </nav>
    <div><a href="#" class="mobile-menu" onclick="toggleBlock(document.getElementById('main-nav'));return false">MENU</a></div>
  </header>