<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en-US"
  class="touch-styles">
    {% include head.html %}
    <body>
        {% include page-navigation.html %}
        
        {{content}}

        {% include page-footer.html %}
        <script type="text/javascript">
          function toggleBlock(e) {
            if(e.style.display == 'block') {
              e.style.display = 'none';
            } else if(e.style.display == 'none' || e.style.display == '') {
              e.style.display = 'block';
            }
          }
        </script>
    </body>
</html>